# MongoDB connection information
database:
  host: "127.0.0.1"
  port: 8004
  user: ""
  password: ""
  db: "rhodiumcoin_bot"

# Discord Bot user token
discord:
  token: ""

# walletd connection information
wallet:
  host: "127.0.0.1"
  port: "8015"

# RHOX is 8-digit, 100000000
tx_fee: 1400000000
min_tx_amount: 100000000
max_tx_amount: 2000000000000000

# How many seconds between balance refresh with walletd
wallet_balance_update_interval: 30
